.ftco-section .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-section .elegant-calencar {
  max-width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
}

.ftco-section .wrap-header {
  position: relative;
  width: 45%;
  background: #4B49AC;
}

@media (max-width: 767.98px) {
  .ftco-section .wrap-header {
    width: 100%;
    padding: 20px 0;
  }
}

.ftco-section #header {
  width: 100%;
  position: relative;
}

.ftco-section #header .pre-button,
.ftco-section #header .next-button {
  cursor: pointer;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.ftco-section #header .pre-button i,
.ftco-section #header .next-button i {
  color: #fff;
}

.ftco-section .pre-button {
  left: 5px;
}

.ftco-section .next-button {
  right: 5px;
}

.ftco-section .calendar-wrap {
  width: 100%;
  background: #fff;
  padding: 40px 20px 20px 20px;
}

.ftco-section #calendar {
  width: 100%;
}

.ftco-section #calendar tr {
  height: 3em;
}

.ftco-section thead tr {
  color: #000;
  font-weight: 700;
}

.ftco-section tbody tr {
  color: #000;
}

.ftco-section tbody td {
  width: 14%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 0;
}

.ftco-section tbody td:after {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 44px;
  height: 44px;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.3s;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .ftco-section tbody td:after {
    transition: none;
  }
}

.ftco-section tbody td:hover,
.ftco-section .selected {
  color: #fff;
  border: none;
}

.ftco-section tbody td:hover:after,
.ftco-section .selected:after {
  background: #2a3246;
}

.ftco-section tbody td:active {
  transform: scale(0.7);
}

.ftco-section #today {
  color: #fff;
}

.ftco-section #today:after {
  background: #4B49AC;
}

.ftco-section #disabled {
  cursor: default;
  background: #fff;
}

.ftco-section #disabled:hover {
  background: #fff;
  color: #c9c9c9;
}

.ftco-section #disabled:hover:after {
  background: transparent;
}

.ftco-section #reset {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 0 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 11px;
}

.ftco-section #reset:hover {
  color: #fff;
  border-color: #fff;
}

.ftco-section #reset:active {
  transform: scale(0.8);
}
